# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config CONFIG_BT
    default y

config CONFIG_ZMK_BLE
    default y

if SHIELD_SPLITKB_AURORA_SWEEP_LEFT
config ZMK_SPLIT
    default y

config ZMK_KEYBOARD_NAME
    default "Ludini"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SPLITKB_AURORA_SWEEP_LEFT

if SHIELD_SPLITKB_AURORA_SWEEP_RIGHT

config ZMK_SPLIT
    default y

config ZMK_KEYBOARD_NAME
    default "Ludini"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif # SHIELD_SPLITKB_AURORA_SWEEP_RIGHT
